@font-face {
	font-family: 'Myriad';
	src: url('../font/MyriadPro-Regular.otf');
}
@font-face {
	font-family: 'CodeFont';
	src: url('../font/SLC_.ttf');
}
@font-face {
	font-family: 'MyriadB';
	src: url('../font/MyriadPro-Semibold.otf');
}
@font-face {
	font-family: 'MyriadI';
	src: url('../font/MyriadPro-it.otf');
}
.i{
	font-family:'MyriadI',Arial;
}
.b{
	font-family:'MyriadB',Arial;
}
h1, h2, h3, h4, h5, h6{
	font-family:'MyriadB',Arial;
}
h1{
	text-shadow: 2px 2px 1px #CCC;
}
h2{
	font-size: 16px;
	padding: 0px 16px 0px 24px;
}
h3{
	font-size: 15px;
	padding: 5px 10px;
}
a{
	outline:none;
}
body{
	margin:0px;
	padding:0px;
	overflow-x:hidden;
	background-color:#f0f0f0;
}
#all{
	margin:0px;
	padding:0px;
	height:100%;
	min-width: 785px;
	font-family:'Myriad',Arial;
}
.backmenu{
    background:#7E7E7E url(../images/bgMenu.png) repeat-x top left;
    text-shadow: 0 1px 1px #fff;
    -webkit-box-shadow: 0 1px 3px #555;
	border-top:1px solid #bebebe;
	height:30px;
}
.navigation{
    position:relative;
    margin:0 auto;
    width:550px;	
}
ul.menu{
    list-style:none;
    font-family:"Verdana",sans-serif;
    margin:0px 0px 0px 15px;
    padding:0px;
}
ul.menu li a{
    text-decoration:none;
    background:#7E7E7E url(../images/bgMenu.png) repeat-x top left;
    padding:7px 0px;
    width:128px;
    color:#333333;
    float:left;
    text-shadow: 0 1px 1px #fff;
    text-align:center;
    border-right:1px solid #a1a1a1;
    border-left:1px solid #e8e8e8;
    font-weight:bold;
    font-size:13px;
    -webkit-box-shadow: 0 1px 3px #555;
}
ul.menu li a.ativa{
    background:#7E7E7E url(../images/bgMenu2.png) repeat-x top left;
    color:#110;
	text-shadow: 0 1px 1px #EEE;
}
ul.menu li span{
    width:64px;
    height:64px;
    background-repeat:no-repeat;
    background-color:transparent;
    position:absolute;
    z-index:-1;
    top:80px;
    cursor:pointer;
}
.containerViewer{
	margin: 3px 0px;
}
.container{
	width:550px;
	height:500px;
	margin: auto;
}
.container2{
	margin: 3px 0px;
	height:450px;
	width:550px;
	margin: auto;
}
.containerhelp{
	margin: 3px 0px;
	width:550px;
	margin: auto;
}
.mensagens{
	padding:2px;
}
.mensagens a{
	text-decoration:none;
	color:#000;
}
.mensagens .item{
	clear:both;
	width:92%;
	height:auto;
	background:#ffffff;
	margin:2px 0px 10px 14px;
    -webkit-box-shadow: 0 1px 3px #555;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
}
.mensagens .item p, .principais .item p{
	margin:0px 10px 4px 10px;
	padding:10px 0px 10px 0;
}
.principais .item:focus,
.principais .item:hover{
	background:#EEE;
}
.principais .item .helpdesk{
	background:url(../images/security.png) no-repeat 50% 50%;
}
.principais .item .agenda{
	background:url(../images/calendar.png) no-repeat 50% 50%;
}
.principais .item .noticias{
	background:url(../images/news.png) no-repeat 50% 50%;
}
.mensagens .tituloEr{
	margin:21px 0px -5px 14px;
	background:#B00;
	color:#FFF;
	box-shadow:none;
}
.mensagens .tituloAl{
	margin:21px 0px -5px 14px;
	background:#BB0;
	color:#FFF;
	box-shadow:none;
}
.mensagens .erro{
	background:#FDD;
	box-shadow:none;
	font-size:15px;
}
.mensagens .alerta{
	background:#FFA;
	box-shadow:none;
	font-size:15px;
}
.mensagens .alerta a,
.mensagens .erro a{
	width:13px;
	height:13px;
	float:right;
	margin: 13px 12px 0px 0px;
	background: url(../images/plus.png) no-repeat;
}
.mensagens .erro .linktorow{
	cursor:pointer;
	text-decoration:underline;
	color:blue;
}
.detalhes{
	background:#FFF3F3;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
	padding-top:5px;
}
.grupoErros .detalhes{
	background:#FFF3F3;
}
.grupoAlertas .detalhes{
	background:#FFD;
}
.detalhes span{
	font-size:13px;
	margin:0px 0px 0px 10px;
}
.detalhes h4{
	font-size:15px;
	margin:3px 0px 0px 10px;
}
.detalhes p{
	font-size:15px;
	margin:0px 0px 0px 0px;
}
#titulo{
	margin:0;	
	float:left;
}
#resumo ul{
	font-size:13px;
	text-decoration:none;
	margin-top:15px;
	margin-right:12px;
	float:right;
}
#resumo li{
	display:inline;
	background:url(../images/err.png) no-repeat 0px 3px;
	padding: 3px 5px 3px 20px;
}
#resumo li + li{
	background:url(../images/alr.png) no-repeat 0px 3px;
}
.text{
	height:280px;
	overflow-y:hidden;
	margin: 3px 14px 17px 14px;
}
.info{
	height:362px;
}
.help{
	margin: 3px 0px 17px 0px;
}
.help .item  ul{
	list-style:none;
	padding:5px 0px;
}
.help .item  ul li a{
	padding:2px 0px 2px 10px;
	display:block;
	text-decoration:none;
	color:#000;
	border-bottom:1 px solid #EEE;
}
a.bord{
	border-top:1 px solid #EEE;
}
.help .item  ul li a:hover,
.help .item  ul li a:focus{
	background:#EEE;
	text-shadow: 0 1px 1px #BBB;
}
.help .item{
	font-size: 15px;
	clear:both;
	width:510px;
	height:auto;
	background:#ffffff;
	margin:0px 0px 10px 16px;
    -webkit-box-shadow: 0 1px 3px #555;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
}
.right{
	width:270px;
	margin-left:240px;
	-webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
.left{
	width:240px;
	float:left;
	border-right:1px solid #EEE;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
}
.left ul{
	margin:0px;
}
.out{
	height:280px;
	margin: 18px 0px 0px 0px;
}
.scroll{
	overflow-y:scroll;
	margin: 3px 0px 17px 14px;
}
.logo{
	background:url(../images/imagem.png) no-repeat 0px -55px;
}
.text p{
	text-indent:15px;
	margin: 5px 10px 10px 10px;
	text-align:justify;
	font-size: 15px;
}
.help p{
	text-indent:15px;
	margin: 5px 30px 10px 17px;
	text-align:justify;
	font-size: 15px;
}
.help .tituloHelp{
	margin:21px 0px -5px 14px;
	background-color:#CCC;
	color:#333333;
    text-shadow: 0 1px 1px #fff;
}
.help img{
	margin:10px 0px 3px 0px;
}
.help img.shad{
	margin:10px 0px 3px 0px;
	-webkit-box-shadow: 0 1px 3px #555;
	box-shadow:0 1px 3px #555;
}
.legimg{
	font-size:14px;
	margin:3px 0px 3px 0px;
}
a[href='#topo']{
	float:right;
	padding:5px 5px 5px 25px;
	margin:30px 30px 20px 0px;	
	background:url(../images/help/up.png) no-repeat top left;
	font-size: 13px;
}
.links a{
	text-decoration:none;
	color:#000;
}
.links .item{
	width:522px;
	height:72px;
	background:#ffffff;
	margin:2px 14px 10px 14px;
    -webkit-box-shadow: 0 1px 3px #555;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
}
.links .item p{
	margin:0px 4px 4px 90px;
	padding:3px 4px 0 0;
	font-size: 15px;
}
.links .item h4{
	margin:0px 4px 0px 90px;
	padding:10px 4px 3px 0px;
	font-size: 15px;
}
.links .item:focus,
.links .item:hover{
	background:#FFD;
	color:blue;
}
.img{
	width:74px;
	height:64px;
	background:#EEE;
	float:left;
	padding:4px 4px 4px 0px;
	border-right:1px dashed #CCC;
}
.links .item .pdf{
	background:url(../images/page.png) no-repeat 50% 50%;
}
.links .item .site{
	background:url(../images/globe.png) no-repeat 50% 50%;
}
.links .item .info{
	background:url(../images/info.png) no-repeat 50% 50%;
}
.links .item .faq{
	background:url(../images/help.png) no-repeat 50% 50%;
}
.links .item .puz{
	background:url(../images/puzzle.png) no-repeat 50% 50%;
}
.links .item .val{
	background:url(../images/accept.png) no-repeat 50% 50%;
}

#newTab{
	cursor:pointer;
	font-size:14px;
	text-decoration:underline;
	margin-left:30px;
}
.mensagens .code{
	font-family:'CodeFont',Arial;
	font-size:16px;
	clear:both;
	position:absolute;
	min-width:380px;
	width:49%;
	height:85%;
	margin:46px 50% 10px 1%;
	white-space: pre;
	overflow-x: scroll;
	overflow-y: scroll;
	background-color:#f0f0f0;
	line-height:19px;
	
}
.mensagens .json{
	float:right;
	margin:0px 1% 0px 1%;
	min-width:380px;
	width:48%;
	height:85%;
	padding:0px;
}
.mensagens .resanalise{
	float:right;
	margin:0px 1% 0px 1%;
	min-width:300px;
	width:28%;
	height:85%;
	padding:0px;
}
.boxlinha{
	background-color:rgba(255, 0, 0, 0.3);
	color:#FFF;
	width:100%;
	height:1.2em;
	position:absolute;
}
.boxlinha span{
	font-family:'Myriad',Arial;
	font-size:15px;
	background-color:#000;
	float:left;
	width:inherit;
	padding-left: 35px;
}
.boxlinhaflash{
	opacity:0.7;
	background-color:#FF0;
	color:#FF0;
	width:100%;
	height:1.2em;
	position:absolute;
}
#pagName{
	font-size:15px;
	position:absolute;
	right: 90px;
	top: 49px;
	width: 67%;
	height:20px;
	text-align:right;
	overflow-x:hidden;
	overflow-y:hidden;
}
#menuView{
	margin:7px 1% 0px 0px;
	float:right;
	display:inline;
	width:80px;
}
#menuView ul {
	list-style:none;
	padding:0px;
	margin:0px;
}
#menuView ul li {
	display:inline;
	float:right;
}
#pagName a,
#menuView a{
	padding-top:10px;
	text-decoration:underline;
	color:#999;
	margin:0;
}
.button{
	background:#FFF;
	height:20px;
	margin:0px 0px 0px 6px;
	background:#7E7E7E url(../images/bgMenu.png) repeat-x top left;
	-webkit-box-shadow: 2px 2px 3px #555;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
	padding:9px 0px 1px 0px;
}
.button a{
	padding:0 15px 5px 15px;
}
.button:active{
	-webkit-box-shadow: 1px 1px 1px #555;
	background:#7E7E7E url(../images/bgMenu2.png) repeat-x top left;
}
.treecode{
	background:url(../images/ctreeoff.png) no-repeat 50% 80%;
}
.infocode{
	background:url(../images/cremoveoff.png) no-repeat 50% 80%;
}
.treecode:focus,
.treecode:hover{
	background:url(../images/ctree.png) no-repeat 50% 80%;
}
.infocode:focus,
.infocode:hover{
	background:url(../images/cremove.png) no-repeat 50% 80%;
}
.ativo{
	-webkit-box-shadow: 1px 1px 1px #555;
	background:#7E7E7E url(../images/bgMenu2.png) repeat-x top left;
}